{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ recipe_object.title }} -Scrumptious Recipes</title>
    <link rel="stylesheet" href={% static "css/recipes.css" %}>
</head>

<body>
    <header>
        <nav>
            <a style="text-decoration:none" href="{% url 'recipe_list' %}">Main Page</a>
            <a style="text-decoration:none" href="{% url 'edit_recipe' recipe_object.id %}">Edit a recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <div>
            <img class="fit-picture"
            src="{{ recipe_object.picture }}"
            alt="Vegetarian tacos on plate">
        </div>
        <div>
            4.3 stars
        </div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="ingredients-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</td>
                    <td>{{ ingredient.food_item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>

        <ol>
            {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>

    </main>
    <footer>Made with love by Scrumptious Recipes</footer>

</body>
</html>
