{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ recipe_object.title }} -Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
</head>

<body>
    <header>
        <nav>
            <a style="text-decoration:none" href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <form method="post">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button>Edit</button>
        </form>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>

</body>
</html>
