{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scrumptious Recipes</title>
  <link rel="stylesheet" href={% static "css/recipes.css" %}>
</head>
<body>
  <header>
    <nav>
      <a style="text-decoration: none;" href="{% url 'recipe_list' %}">Main page</a>
      <a style="text-decoration: none;" href="{% url 'my_recipe_list' %}">My recipes</a>
      {% if user.is_authenticated %}
        <a style="text-decoration: none;" href="{% url 'create_recipe' %}">Create a recipe</a>
      {% endif %}

      {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'user_logout' %}">Logout</a>
      {% else %}
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="{% url 'user_login' %}">Login</a>
      {% endif %}
    </nav>
  </header>
  <main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="container-with-grid">
        {% for recipe in recipe_list %}
      <div>
        <h3>
          <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
        </h3>
        <img src="{{ recipe.picture }}">
        <div>4.3 stars</div>
        <p>{{recipe.created_on | date:"N d o"}}</p>
      </div>
      {% endfor %}
    </div>
  </main>
  <footer>
    Made with love by Scrumptious Recipes
  </footer>
</body>
</html>
